//! **************************************************************************
// Written by: Map O.76xd on Tue May 21 10:01:39 2013
//! **************************************************************************

SCHEMATIC START;
COMP "HS" LOCATE = SITE "N6" LEVEL 1;
COMP "VS" LOCATE = SITE "P7" LEVEL 1;
COMP "up" LOCATE = SITE "A8" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "left" LOCATE = SITE "C4" LEVEL 1;
COMP "down" LOCATE = SITE "C9" LEVEL 1;
COMP "B" LOCATE = SITE "T7" LEVEL 1;
COMP "G" LOCATE = SITE "V6" LEVEL 1;
COMP "AN<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "AN<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "AN<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "AN<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "R" LOCATE = SITE "N7" LEVEL 1;
COMP "right" LOCATE = SITE "D9" LEVEL 1;
COMP "reset" LOCATE = SITE "T10" LEVEL 1;
COMP "level1" LOCATE = SITE "U8" LEVEL 1;
COMP "level2" LOCATE = SITE "N8" LEVEL 1;
COMP "speed1" LOCATE = SITE "T5" LEVEL 1;
COMP "speed2" LOCATE = SITE "V8" LEVEL 1;
COMP "seven<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "seven<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "seven<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "seven<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "seven<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "seven<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "seven<6>" LOCATE = SITE "L14" LEVEL 1;
SCHEMATIC END;

